@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



/* navbar styles */
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: darkslateblue;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}



/* about section styles */
.about {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.about .title {
    /*!*position: relative;*! */
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: darkslateblue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid darkslateblue;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: darkslateblue;
    background: none;
}



/* resume section styles */
.resume {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.resume .title {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.resume .resume-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.resume .resume-iframe {
    width: 100%;
    height: 800px;
}



/* relevant coursework section styles */
.coursework {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.coursework .title {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.coursework .coursework-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.coursework .coursework-content ul {
    list-style: none;
}

.coursework .course-description {
    padding-bottom: 20px;
}



/* responsive queries*/
@media (max-width: 1104px) {
    /*.about .about-content .left img {*/
    /*    height: 350px;*/
    /*    width: 350px;*/
    /*}*/
}

@media (max-width: 1200px) {
    .max-width {
        max-width: 800px;
    }


    /* about section styles */
    .about .title {
        padding-top: 50px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }


    /* resume section styles */
    .resume .title {
        padding-top: 50px;
    }


    /* coursework section styles */
    .coursework .title {
        padding-top: 50px;
    }
}
