.title {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.profilePicture {
  width: 580px;
  height: 600px;
  object-fit: cover;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  width: 40%;
}

.bodyBlock {
  padding: 2%;
}

.socialLinks a {
  width: 170px;
  align-self: center;
  background: #980420;
  color: #EDEBEB;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #980420;
  transition: all 0.3s ease;
}

.socialLinks a:hover {
  color: #980420;
  background: none;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start
}

@media only screen and (max-width: 1000px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bodyBlock {
    padding: 0%;
  }

  .bio {
    margin-top: 60px;
    width: 70%;
  }

  .profilePicture {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}