.title {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.content a {
  width: 170px;
  align-self: center;
  background: #980420;
  color: #EDEBEB;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #980420;
  transition: all 0.3s ease;
}

.resumePicture {
  max-width: 1000px;
  width: 90%;
}

@media only screen and (max-width: 1000px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bodyBlock {
    padding: 0%;
  }

  .bio {
    margin-top: 18px;
    width: 70%;
  }

  .profilePicture {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}